services:
  tcrd:
    restart: always
    depends_on:
      - redis
      - minio
    build: .
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis
      - DATABASE_URL=postgres://tcrd:mypassword@postgres/tcrd
      - S3_URL=http://minio:9000
      - PUBLIC_S3_URL=http://localhost:9000
      - S3_USERNAME=minioadmin
      - S3_PASSWORD=minioadmin

  redis:
    restart: always
    image: "redis"
    command: redis-server --protected-mode no --bind 0.0.0.0

  minio:
    restart: always
    entrypoint: sh
    command: -c 'mkdir -p /data/tcrd && minio server /data --console-address ":9001"'
    volumes:
      - minio_storage:/data
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    image: quay.io/minio/minio:latest
    ports:
      - '9000:9000'
      - '9001:9001'

  postgres:
    image: postgres:18
    volumes:
      - postgres_storage:/var/lib/postgresql/18/data
    environment:
      POSTGRES_DB: tcrd
      POSTGRES_USER: tcrd
      POSTGRES_PASSWORD: mypassword
    ports:
      - '5432:5432'

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: root@root.pam
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"

volumes:
  minio_storage: {}
  postgres_storage: {}
